.parallax {
    position: sticky;
    top: 60px;
    width: 100%;
    height: clamp(250px, 30vh, 400px);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax img {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.scrolling-content {
    position: relative;
    background-color: var(--background);
    z-index: 0;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}

.project-title {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.project-description {
    flex-direction: column;
    gap: 24px;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
}

.project-gallery-item {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--blue-1);
}

.project-gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-gallery-item:last-child:nth-child(odd) {
    grid-column: 1 / -1;
}

.project-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-links a span {
    display: flex;
    align-items: center;
    gap: 6px;
}

.project-links a {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}

.project-links a img {
    width: 24px;
    height: 24px;
}

@media (max-width: 800px) {
    article.scrolling-content section {
        padding: 60px 30px;
    }

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-gallery-item {
        grid-column: 1 / -1 !important;
    }
}
