.parallax {
    position: sticky;
    top: 60px;
    width: 100%;
    height: clamp(250px, 30vh, 400px);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax img {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.scrolling-content {
    position: relative;
    background-color: var(--background);
    z-index: 0;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}

.project-title {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.project-description {
    flex-direction: column;
    gap: 24px;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 16px;
}

.bento-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--blue-1);
}

.bento-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-gallery[data-count='1'] .bento-item {
    grid-column: span 6;
    aspect-ratio: 1/1;
}

.project-gallery[data-count='2'] .bento-item {
    grid-column: span 3;
    aspect-ratio: 1/1;
}

.project-gallery[data-count='3'] .bento-item:first-child {
    grid-column: span 6;
    aspect-ratio: 3/2;
}
.project-gallery[data-count='3'] .bento-item:nth-child(2),
.project-gallery[data-count='3'] .bento-item:nth-child(3) {
    grid-column: span 3;
    aspect-ratio: 2/1;
}

.project-gallery[data-count='4'] .bento-item:first-child {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1/1;
}
.project-gallery[data-count='4'] .bento-item:nth-child(2) {
    grid-column: span 4;
    grid-row: span 4;
    aspect-ratio: 1/1;
}
.project-gallery[data-count='4'] .bento-item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 4;
    aspect-ratio: 1/2;
}
.project-gallery[data-count='4'] .bento-item:nth-child(4) {
    grid-column: span 4;
    grid-row: span 2;
    aspect-ratio: 2/1;
}

.project-gallery[data-count='5'] .bento-item:first-child {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1/1;
}
.project-gallery[data-count='5'] .bento-item:nth-child(2) {
    grid-column: span 4;
    grid-row: span 4;
    aspect-ratio: 1/1;
}
.project-gallery[data-count='5'] .bento-item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 3;
    aspect-ratio: 1/2;
}
.project-gallery[data-count='5'] .bento-item:nth-child(4),
.project-gallery[data-count='5'] .bento-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 1/1;
}

.project-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-links a span {
    display: flex;
    align-items: center;
    gap: 6px;
}

.project-links a {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}

.project-links a img {
    width: 24px;
    height: 24px;
}

@media (max-width: 800px) {
    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-gallery[data-count] .bento-item {
        grid-column: span 2 !important;
        grid-row: span 1 !important;
    }
}
