.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.card {
    display: flex;
    position: relative;
    max-width: 450px;
    flex-direction: column;
    background-color: var(--background) !important;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.card > .card-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 18/9;
    overflow: hidden;
    background-color: var(--blue-1);
}

.card > .card-image-container > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    break-inside: avoid;
}

.card > .card-image-container::after {
    position: absolute;
    content: '';
    bottom: 0;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, transparent 30%);
    pointer-events: none;
}

.card:hover > .card-image-container > img {
    transform: scale(1.05);
}

.card > .card-content {
    display: flex;
    padding: 10px 20px 20px 20px;
    justify-content: end;
    flex-direction: column;
    gap: 6px;
}

.card > .card-content .card-header {
    line-height: initial;
}

.card > .card-content .card-header .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card > .card-content .card-header .card-main-link {
    font-style: inherit;
    color: inherit;
}
.card > .card-content .card-header .card-main-link:hover,
.card > .card-content .card-header .card-main-link:focus {
    text-decoration: inherit;
}
.card > .card-content .card-header .card-main-link::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.card > .card-content .card-header .external-link {
    line-height: initial;
    position: relative;
    z-index: 2;
}

.card > .card-content .chips-container {
    gap: 6px;
}

.card > .card-content .chips-container .chip {
    padding: 2px 8px;
    gap: 6px;
}

.card > .card-content .chips-container .chip img {
    height: 16px;
    width: 16px;
}

.card > .card-content .chips-container .chip p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

@media print {
    .card {
        print-color-adjust: exact;
    }

    .card {
        box-shadow: none !important;
        border: 1px solid var(--style-1) !important;
    }
}

@media (prefers-color-scheme: dark) {
    .card {
        border: 1px solid var(--style-1) !important;
    }
}
