* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    --accent: #00adb5;
    --blue-1: #141c3a;
    --blue-2: #535e88;
    --blue-3: #dcdcde;
    --blue-4: #f9fbfd;
    --background: #ffffff;
    --footer: #141c3a;
    --style-1: #e5ebf2;

    background: var(--background);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    color: var(--blue-2) !important;
    font-weight: 300;
    font-size: 17px;
}

p,
h1,
h2,
h3,
h4,
a {
    line-height: 30px;
    font-weight: inherit;
}

h1 {
    color: var(--blue-1) !important;
    font-weight: 900;
    font-size: 30px;
}

h2 {
    color: var(--blue-1) !important;
    font-weight: 700;
    font-size: 22px;
}

h3 {
    color: var(--blue-1) !important;
    font-weight: 400;
    font-size: 20px;
}

h4 {
    font-weight: 400;
    font-size: 18px;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a,
button {
    width: fit-content;
    font-style: italic;
    color: var(--accent);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: text-decoration ease 125ms;
}

a:hover,
a:focus,
button:hover,
button:focus {
    text-decoration: underline;
}

button,
a.button {
    padding: 5px 20px;
    border-radius: 40px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    background: var(--blue-4);
    transition: all ease 125ms;
    border: 3px solid var(--blue-1) !important;
    color: var(--blue-1) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
}

button:hover,
a.button:hover {
    color: var(--accent) !important;
    border: 3px solid var(--accent) !important;
}

select {
    border-radius: 6px;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    transition: all ease 125ms;
    color: var(--blue-1);
    background-color: var(--background);
}

select:hover,
select:focus {
    border-color: var(--accent);
}

main section {
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

main section:nth-of-type(2n) {
    background-color: var(--blue-4);
}

main section > div {
    max-width: 900px;
    display: flex;
    margin: 0 auto;
}

@media print {
    section {
        page-break-after: always;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --blue-1: #f9fbfd;
        --blue-2: #f9fbfd;
        --blue-3: #dcdcde;
        --blue-4: #1d274f;
        --background: #141c3a;
        --style-1: #535e88;
    }
}
